# PROCESAMIENTO DE LOS DATOS DEL DATASET "movies_dataset"

Primero trabajemos con "movie_dataset"

El módulo "ast" (Abstract Syntax Trees) es útil para procesar texto que representa código Python o literales (como listas, diccionarios, números, etc.) de forma segura. Se utilizará para poder cambiar el tipo de dato a diccionario en las columnas a desanidar.

Creamos el dataframe movies

In [1]:
import pandas as pd
import numpy as np
import ast
import Funciones_normalizacion as fn

In [2]:
movies = pd.read_csv('./Database/movies_dataset.csv',delimiter = ',',encoding = "utf-8")

C:\Users\maria\AppData\Local\Temp\ipykernel_12484\1867310481.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  movies = pd.read_csv('./Database/movies_dataset.csv',delimiter = ',',encoding = "utf-8")

In [3]:
movies.columns

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

Quiero eliminar el Id original y armarme yo uno nuevo

In [4]:
movies=movies.rename(columns={"id": "Id_movie_viejo"})

Lo siguiente es para ver la composición de los datos de cada columna y ver cuales hay que desanidar

In [5]:
for i in movies.columns:
    print(f"columna: {i}")
    print(movies[i][0])
    print("-----------------------------------")

columna: adult
False
-----------------------------------
columna: belongs_to_collection
{'id': 10194, 'name': 'Toy Story Collection', 'poster_path': '/7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg', 'backdrop_path': '/9FBwqcd9IRruEDUrTdcaafOMKUq.jpg'}
-----------------------------------
columna: budget
30000000
-----------------------------------
columna: genres
[{'id': 16, 'name': 'Animation'}, {'id': 35, 'name': 'Comedy'}, {'id': 10751, 'name': 'Family'}]
-----------------------------------
columna: homepage
http://toystory.disney.com/toy-story
-----------------------------------
columna: Id_movie_viejo
862
-----------------------------------
columna: imdb_id
tt0114709
-----------------------------------
columna: original_language
en
-----------------------------------
columna: original_title
Toy Story
-----------------------------------
columna: overview
Led by Woody, Andy's toys live happily in his room until Andy's birthday brings Buzz Lightyear onto the scene. Afraid of losing his place in Andy's heart, Woody plots against Buzz. But when circumstances separate Buzz and Woody from their owner, the duo eventually learns to put aside their differences.
-----------------------------------
columna: popularity
21.946943
-----------------------------------
columna: poster_path
/rhIRbceoE9lR4veEXuwCC2wARtG.jpg
-----------------------------------
columna: production_companies
[{'name': 'Pixar Animation Studios', 'id': 3}]
-----------------------------------
columna: production_countries
[{'iso_3166_1': 'US', 'name': 'United States of America'}]
-----------------------------------
columna: release_date
1995-10-30
-----------------------------------
columna: revenue
373554033.0
-----------------------------------
columna: runtime
81.0
-----------------------------------
columna: spoken_languages
[{'iso_639_1': 'en', 'name': 'English'}]
-----------------------------------
columna: status
Released
-----------------------------------
columna: tagline
nan
-----------------------------------
columna: title
Toy Story
-----------------------------------
columna: video
False
-----------------------------------
columna: vote_average
7.7
-----------------------------------
columna: vote_count
5415.0
-----------------------------------

Las columnas para desanidar son:
- belongs_to_collection: solo me importa la franquicia
- genres: lista de 3 diccionarios. Los elementos de cada diccionario son "id" (cambiar nombre a "Id_genre") y "name" (cambiar a "genre1", "genre1",etc)
- production_companies: listas de diccionarios. Los elementos de cada diccionario son "name" (cambiar a "production_companie_1", "production_companie_2", etc) y "id" (cambiar a "Id_production_companie")
- production_countries: listas de diccionarios. Los elementos de cada diccionario son "name" (cambiar a "production_countrie_1", "production_countrie_2", etc), "id" (cambiar a "Id_production_countrie") y "iso_3166_1" (cambiar por "countrie_code)
- spoken_languages: listas de diccionarios. Los elementos de cada diccionario son "name" (cambiar a "spoken_languages_1", "spoken_languages_2", etc) y "iso_639_1" (cambiar por "countrie_code)

Eliminamos las columnas que no sean reelevantes para el analisis

In [6]:
movies1=movies.drop(columns=["video", "imdb_id", "adult", "original_title", "homepage","tagline","poster_path","spoken_languages"])

In [7]:
movies1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 16 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   belongs_to_collection  4494 non-null   object
 1   budget                 45466 non-null  object
 2   genres                 45466 non-null  object
 3   Id_movie_viejo         45466 non-null  object
 4   original_language      45455 non-null  object
 5   overview               44512 non-null  object
 6   popularity             45461 non-null  object
 7   production_companies   45463 non-null  object
 8   production_countries   45463 non-null  object
 9   release_date           45379 non-null  object
 10  revenue                45460 non-null  float64
 11  runtime                45203 non-null  float64
 12  status                 45379 non-null  object
 13  title                  45460 non-null  object
 14  vote_average           45460 non-null  float64
 15  vote_count             45460 non-null  float64
dtypes: float64(4), object(12)
memory usage: 5.6+ MB

3) Desligamos la columna "genres"

In [8]:
print(movies1["genres"][0])
print(type(movies1["genres"][0]))

[{'id': 16, 'name': 'Animation'}, {'id': 35, 'name': 'Comedy'}, {'id': 10751, 'name': 'Family'}]
<class 'str'>

In [9]:
movies2=fn.columna_anidada(movies1,"list","genres","name")
movies2["genres"].head()

c:\Users\maria\Documents\Ezequiel\Eze\HENRY\TP_1\Funciones_normalizacion.py:12: FutureWarning: The behavior of array concatenation with empty entries is deprecated. In a future version, this will no longer exclude empty items when determining the result dtype. To retain the old behavior, exclude the empty entries before the concat operation.
  columna_df=pd.concat([columna_df.drop(columns=col_vieja), pd.json_normalize(df[col_vieja])], axis=1) # desanida las listas y elimina la col_vieja

0     [Animation, Comedy, Family]
1    [Adventure, Fantasy, Family]
2               [Romance, Comedy]
3        [Comedy, Drama, Romance]
4                        [Comedy]
Name: genres, dtype: object

Repetimos el proceso para desligar la columna "production_companies"

In [10]:
print(movies2["production_companies"][0])
print(type(movies2["production_companies"][0]))

[{'name': 'Pixar Animation Studios', 'id': 3}]
<class 'str'>

In [11]:
movies3=fn.columna_anidada(movies2,"list","production_companies","name")
movies3["production_companies"].head()

c:\Users\maria\Documents\Ezequiel\Eze\HENRY\TP_1\Funciones_normalizacion.py:12: FutureWarning: The behavior of array concatenation with empty entries is deprecated. In a future version, this will no longer exclude empty items when determining the result dtype. To retain the old behavior, exclude the empty entries before the concat operation.
  columna_df=pd.concat([columna_df.drop(columns=col_vieja), pd.json_normalize(df[col_vieja])], axis=1) # desanida las listas y elimina la col_vieja

0                            [Pixar Animation Studios]
1    [TriStar Pictures, Teitler Film, Interscope Co...
2                       [Warner Bros., Lancaster Gate]
3             [Twentieth Century Fox Film Corporation]
4         [Sandollar Productions, Touchstone Pictures]
Name: production_companies, dtype: object

Repetimos el proceso para "production_contries"

In [12]:
print(movies3["production_countries"][0])
print(type(movies3["production_countries"][0]))

[{'iso_3166_1': 'US', 'name': 'United States of America'}]
<class 'str'>

In [13]:
movies4=fn.columna_anidada(movies3,"list","production_countries","name")
movies4["production_countries"].head()

c:\Users\maria\Documents\Ezequiel\Eze\HENRY\TP_1\Funciones_normalizacion.py:12: FutureWarning: The behavior of array concatenation with empty entries is deprecated. In a future version, this will no longer exclude empty items when determining the result dtype. To retain the old behavior, exclude the empty entries before the concat operation.
  columna_df=pd.concat([columna_df.drop(columns=col_vieja), pd.json_normalize(df[col_vieja])], axis=1) # desanida las listas y elimina la col_vieja

0    [United States of America]
1    [United States of America]
2    [United States of America]
3    [United States of America]
4    [United States of America]
Name: production_countries, dtype: object

Hacemos lo mismo con la columna "belongs_to_collection" y nos quedamos solo con el nombre de la franquisia

In [14]:
print(movies4["belongs_to_collection"][0])
print(type(movies4["belongs_to_collection"][0]))

{'id': 10194, 'name': 'Toy Story Collection', 'poster_path': '/7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg', 'backdrop_path': '/9FBwqcd9IRruEDUrTdcaafOMKUq.jpg'}
<class 'str'>

In [15]:
movies5=fn.columna_anidada(movies4,"dicc","belongs_to_collection","name")
movies5=movies5.rename(columns={"belongs_to_collection":"franchise"})
movies5["franchise"].head()

c:\Users\maria\Documents\Ezequiel\Eze\HENRY\TP_1\Funciones_normalizacion.py:38: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  columna_df[key].fillna("Sin Dato",inplace=True)

0              Toy Story Collection
1                          Sin Dato
2         Grumpy Old Men Collection
3                          Sin Dato
4    Father of the Bride Collection
Name: franchise, dtype: object

Cambiamos los valores vacíos de las columnas 'revenue' y 'budget' por 0. Creamos una nueva columna "return" con el cosiente revenue/budget

In [16]:
print(type(movies5.loc[0,"revenue"]))
print(type(movies5.loc[0,"budget"]))

<class 'numpy.float64'>
<class 'str'>

In [17]:
indices=[]
print("valores anómalos de 'budget' originales:")
for i in range(movies5.shape[0]):
    if len(movies5.loc[i,"budget"])>9:
        print(i, movies5.loc[i,"budget"])
        movies5.loc[i,"budget"]=0
        indices.append(i)
print(" ")             
print("valores anómalos de 'budget' corregidos:")
for i in indices:
    print(movies5.loc[i,"budget"])

valores anómalos de 'budget' originales:
19730 /ff9qCepilowshEtG2GYWwzt2bs4.jpg
29503 /zV8bHuSL6WXoD6FWogP9j4x80bL.jpg
35587 /zaSf5OG7V8X8gqFvly88zDdRm46.jpg

valores anómalos de 'budget' corregidos:
0
0
0

In [18]:
movies5["budget"]=movies5["budget"].apply(lambda x: ast.literal_eval(x) if isinstance(x, str) else x)
movies5["revenue"]=movies5["revenue"].fillna(0)
movies5["budget"]=movies5["budget"].fillna(0)

cociente=[]
for i in range(movies5.shape[0]):
    if movies5.loc[i,"budget"]!=0:
        cociente.append(movies5.loc[i,"revenue"]/movies5.loc[i,"budget"])
    else:
        cociente.append(0)

dicc={"return":cociente}
return_df=pd.DataFrame(dicc)
return_df["return"]=return_df["return"].round(2)
movies6=pd.concat([movies5, return_df], axis=1)

Eliminamos los valores nulos del campo "release_date" eliminarse.

In [19]:
movies6.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 17 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                45466 non-null  int64
 1   Id_movie_viejo        45466 non-null  object
 2   original_language     45455 non-null  object
 3   overview              44512 non-null  object
 4   popularity            45461 non-null  object
 5   release_date          45379 non-null  object
 6   revenue               45466 non-null  float64
 7   runtime               45203 non-null  float64
 8   status                45379 non-null  object
 9   title                 45460 non-null  object
 10  vote_average          45460 non-null  float64
 11  vote_count            45460 non-null  float64
 12  genres                45466 non-null  object
 13  production_companies  45466 non-null  object
 14  production_countries  45466 non-null  object
 15  franchise             45466 non-null  object
 16  return                45466 non-null  float64
dtypes: float64(5), int64(1), object(11)
memory usage: 5.9+ MB

In [ ]:
movies6=movies6.dropna(subset="release_date")
movies6.info()

<class 'pandas.core.frame.DataFrame'>
Index: 45379 entries, 0 to 45465
Data columns (total 17 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                45379 non-null  int64
 1   Id_movie_viejo        45379 non-null  object
 2   original_language     45368 non-null  object
 3   overview              44438 non-null  object
 4   popularity            45377 non-null  object
 5   release_date          45379 non-null  object
 6   revenue               45379 non-null  float64
 7   runtime               45130 non-null  float64
 8   status                45296 non-null  object
 9   title                 45376 non-null  object
 10  vote_average          45376 non-null  float64
 11  vote_count            45376 non-null  float64
 12  genres                45379 non-null  object
 13  production_companies  45379 non-null  object
 14  production_countries  45379 non-null  object
 15  franchise             45379 non-null  object
 16  return                45379 non-null  float64
dtypes: float64(5), int64(1), object(11)
memory usage: 6.2+ MB

Trabajamos la columna "release_date" y creamos una columna "release_year" con el año de estreno

In [21]:
print(f"Tipo de dato en la columna relase_date antes de transformarlo: {type(movies6.loc[0,'release_date'])}")
movies6["release_date"] = pd.to_datetime(movies6["release_date"],errors='coerce') #convierte las entradas en tipo datetime y las que no sean fechas quedan como NaT
print(f"Tipo de dato en la columna relase_date luego de transformarlo: {type(movies6.loc[0,'release_date'])}")
cantidad_nat=movies6["release_date"].isna().sum()
print(f"Cantidad de valores NaT: {cantidad_nat}")

# Eliminamos esos valores Nat
movies6=movies6.dropna(subset="release_date")

Tipo de dato en la columna relase_date antes de transformarlo: <class 'str'>
Tipo de dato en la columna relase_date luego de transformarlo: <class 'pandas._libs.tslibs.timestamps.Timestamp'>
Cantidad de valores NaT: 3

In [22]:
movies6.info()

<class 'pandas.core.frame.DataFrame'>
Index: 45376 entries, 0 to 45465
Data columns (total 17 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                45376 non-null  int64
 1   Id_movie_viejo        45376 non-null  object
 2   original_language     45365 non-null  object
 3   overview              44435 non-null  object
 4   popularity            45376 non-null  object
 5   release_date          45376 non-null  datetime64[ns]
 6   revenue               45376 non-null  float64
 7   runtime               45130 non-null  float64
 8   status                45296 non-null  object
 9   title                 45376 non-null  object
 10  vote_average          45376 non-null  float64
 11  vote_count            45376 non-null  float64
 12  genres                45376 non-null  object
 13  production_companies  45376 non-null  object
 14  production_countries  45376 non-null  object
 15  franchise             45376 non-null  object
 16  return                45376 non-null  float64
dtypes: datetime64[ns](1), float64(5), int64(1), object(10)
memory usage: 6.2+ MB

In [23]:
# Creo la columna realase_year
movies6["release_year"] = movies6["release_date"].dt.year
movies6.columns

Index(['budget', 'Id_movie_viejo', 'original_language', 'overview',
       'popularity', 'release_date', 'revenue', 'runtime', 'status', 'title',
       'vote_average', 'vote_count', 'genres', 'production_companies',
       'production_countries', 'franchise', 'return', 'release_year'],
      dtype='object')

Armo una nueva columa de Id_movies y traemos los ids de franchise, status y languages

In [24]:
#convertimos los tipos de datos de las columnas a lo que deberías ser 
movies6=movies6.rename(columns={"runtime":"duration"})
movies6["budget"]=movies6["budget"].apply(lambda x: ast.literal_eval(x) if isinstance(x, str) else x)
movies6["Id_movie_viejo"]=movies6["Id_movie_viejo"].apply(lambda x: ast.literal_eval(x) if isinstance(x, str) else x)
movies6["popularity"]=movies6["popularity"].apply(lambda x: ast.literal_eval(x) if isinstance(x, str) else x)
movies6["revenue"]=movies6["revenue"].apply(lambda x: ast.literal_eval(x) if isinstance(x, str) else x)
movies6["duration"]=movies6["duration"].apply(lambda x: ast.literal_eval(x) if isinstance(x, str) else x)
movies6["vote_average"]=movies6["vote_average"].apply(lambda x: ast.literal_eval(x) if isinstance(x, str) else x)
movies6["vote_count"]=movies6["vote_count"].apply(lambda x: ast.literal_eval(x) if isinstance(x, str) else x)
movies6["return"]=movies6["return"].apply(lambda x: ast.literal_eval(x) if isinstance(x, str) else x)
movies6["genres"]=movies6["genres"].apply(lambda x: ast.literal_eval(x) if isinstance(x, str) else x)
movies6["production_companies"]=movies6["production_companies"].apply(lambda x: ast.literal_eval(x) if isinstance(x, str) else x)
movies6["production_countries"]=movies6["production_countries"].apply(lambda x: ast.literal_eval(x) if isinstance(x, str) else x)

In [25]:
movies6["duration"]=movies6["duration"].fillna("0")
movies6["status"]=movies6["status"].fillna("Sin Dato")
movies6["original_language"]=movies6["original_language"].fillna("Sin Dato")

In [26]:
franchise_df=pd.read_csv('./Database/franchise.csv',delimiter = ',',encoding = "utf-8")
status_df=pd.read_csv('./Database/status.csv',delimiter = ',',encoding = "utf-8")
languages_df=pd.read_csv('./Database/languages.csv',delimiter = ',',encoding = "utf-8")
titles_df=pd.read_csv('./Database/titles.csv',delimiter = ',',encoding = "utf-8")

movies6=movies6.rename(columns={"original_language":"language"})

movies7=movies6.merge(franchise_df[["franchise", "Id_franchise"]], left_on="franchise", right_on="franchise", how="left")
movies7=movies7.merge(status_df[["status", "Id_status"]], left_on="status", right_on="status", how="left")
movies7=movies7.merge(languages_df[["language", "Id_language"]], left_on="language", right_on="language", how="left")
movies7=movies7.merge(titles_df[["Id_movie_viejo", "Id_movie"]], left_on="Id_movie_viejo", right_on="Id_movie_viejo", how="left")

In [27]:
movies7.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45376 entries, 0 to 45375
Data columns (total 22 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                45376 non-null  int64
 1   Id_movie_viejo        45376 non-null  int64
 2   language              45376 non-null  object
 3   overview              44435 non-null  object
 4   popularity            45376 non-null  float64
 5   release_date          45376 non-null  datetime64[ns]
 6   revenue               45376 non-null  float64
 7   duration              45376 non-null  object
 8   status                45376 non-null  object
 9   title                 45376 non-null  object
 10  vote_average          45376 non-null  float64
 11  vote_count            45376 non-null  float64
 12  genres                45376 non-null  object
 13  production_companies  45376 non-null  object
 14  production_countries  45376 non-null  object
 15  franchise             45376 non-null  object
 16  return                45376 non-null  float64
 17  release_year          45376 non-null  int32
 18  Id_franchise          45376 non-null  int64
 19  Id_status             45376 non-null  int64
 20  Id_language           45376 non-null  int64
 21  Id_movie              45376 non-null  int64
dtypes: datetime64[ns](1), float64(5), int32(1), int64(6), object(9)
memory usage: 7.4+ MB

Elimino las columnas que estan en las tablas de dimensiones

In [28]:
movies7.drop(columns=["Id_movie_viejo","title","franchise","status","language"],inplace=True)

Eliminamos duplicados de la columna id_movie

In [29]:
movies7.shape

(45376, 17)

In [30]:
movies8=movies7.drop_duplicates(subset="Id_movie",ignore_index=True)

In [31]:
movies8.shape

(45346, 17)

In [32]:
movies8.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45346 entries, 0 to 45345
Data columns (total 17 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                45346 non-null  int64
 1   overview              44405 non-null  object
 2   popularity            45346 non-null  float64
 3   release_date          45346 non-null  datetime64[ns]
 4   revenue               45346 non-null  float64
 5   duration              45346 non-null  object
 6   vote_average          45346 non-null  float64
 7   vote_count            45346 non-null  float64
 8   genres                45346 non-null  object
 9   production_companies  45346 non-null  object
 10  production_countries  45346 non-null  object
 11  return                45346 non-null  float64
 12  release_year          45346 non-null  int32
 13  Id_franchise          45346 non-null  int64
 14  Id_status             45346 non-null  int64
 15  Id_language           45346 non-null  int64
 16  Id_movie              45346 non-null  int64
dtypes: datetime64[ns](1), float64(5), int32(1), int64(5), object(5)
memory usage: 5.7+ MB

In [33]:
movies8["overview"]=movies8["overview"].fillna(" ")

C:\Users\maria\AppData\Local\Temp\ipykernel_12484\1556037301.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies8["overview"]=movies8["overview"].fillna(" ")

In [34]:
movies8.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45346 entries, 0 to 45345
Data columns (total 17 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                45346 non-null  int64
 1   overview              45346 non-null  object
 2   popularity            45346 non-null  float64
 3   release_date          45346 non-null  datetime64[ns]
 4   revenue               45346 non-null  float64
 5   duration              45346 non-null  object
 6   vote_average          45346 non-null  float64
 7   vote_count            45346 non-null  float64
 8   genres                45346 non-null  object
 9   production_companies  45346 non-null  object
 10  production_countries  45346 non-null  object
 11  return                45346 non-null  float64
 12  release_year          45346 non-null  int32
 13  Id_franchise          45346 non-null  int64
 14  Id_status             45346 non-null  int64
 15  Id_language           45346 non-null  int64
 16  Id_movie              45346 non-null  int64
dtypes: datetime64[ns](1), float64(5), int32(1), int64(5), object(5)
memory usage: 5.7+ MB

In [35]:
movies8.to_csv('./Database/movies_normalizado.csv',index=False)